body {
    padding: 0;
    margin: 0;
    background-color: #020202;
  }
  .navbar.navbar-inverse {
    min-height: 40px;
}
  #videoBig {
    width: 100%;
    height: calc(100vh - 88px);
  }
  div#videoBig video#video {
    width: 100%;
    height: 100%;
  }
  .page-header h1 {
    text-align: center;
    font-weight: 700;
    color: #141414;
  }
  .democonsole {
    visibility: hidden;
    height: 0 !important;
  }
  .container-fluid.header_bar {
    display: flex;
    align-items: center;
  }
  .team_btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0px 10px;
    padding-bottom: 14px;
}
  .team_btn a:not(:last-child) {
    margin-right: 10px;
  }
  .team_btn a.btn-success,
  .team_btn a.btn-primary {
    background: #FE6676;
    border: 1px solid #FE6676;
  }
  .team_btn .btn {
    max-width: 200px;
    width: 100%;
    border-radius: 0;
}
  .team_btn a.btn-danger {
    color: #141414;
    background-color: white;
    border: 1px solid #141414;
  }
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  .liveviewersdiv {
    color: #b1b1b1;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-left: auto;
    padding: 4px 10px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 25px;
}
.navbar.navbar-inverse {
  background: #020202;
}
.liveviewersdiv span#liveviewers {
  color: #FE6676;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.navbar-header button {
  display: none;
}
.navbar-inverse .navbar-brand {
  padding: 10px 0;
  height: auto;
  font-size: 16px;
  letter-spacing: 0.5px;
}
@media(min-width: 768px){
  .navbar-inverse .navbar-brand {
    margin: 0 !important;
  }
}
  @media (max-width: 768px) {
    .page-header h1 {
      font-size: 28px;
      line-height: 34px;
    }
    .navbar-inverse .navbar-brand {
      padding-left: 15px;
    }
    .btn {
      font-size: 10px;
    }
  }
  @media (max-width: 767px) and (min-width: 500px){
    .team_btn{
      position: absolute;
      top: 7px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
    }
  }
  @media (max-width: 700px){
    .container-fluid.header_bar {
  flex-wrap: wrap;
}
.navbar-header a {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
}

.container-fluid.header_bar .team_btn {
  padding-bottom: 10px;
}

  }

  @media (max-width: 374px){
  .navbar-header {
    margin: 0;
}
.container-fluid.header_bar .team_btn {
  margin: 0 auto;
}
  }